In [13]:
import json
import numpy as np
import pandas as pd
import csv
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [23]:
dev_df = pd.read_csv('kickstarter_textandmeta_dev.tsv', sep='\t')
dev_df.head()

,desc_clean,desc_len,goal,category_slug,label
0,Zombies. They're a problem that no one wants t...,24,700.0,technology/software,1
1,What would the pioneers of jazz sound like on ...,23,2000.0,music/jazz,1
2,Art by the square inch. 1 US dollar = 1 square...,11,400.0,art/conceptual art,1
3,"Three of us are composers, and all of us are p...",29,2000.0,music/electronic music,1
4,An exploration into statistical displays on Ki...,21,3000.0,design/graphic design,1

# Tell metadata what the types of the input features. 
## (kickstarter and indiegogo share the same config)
there are commonly 4 types of features:
1. numerical features (float and int)
2. object features (datetime and categorical)
3. boolean features
4. text features
5. the features you want to drop

In [24]:
dev_df.columns

Index(['desc_clean', 'desc_len', 'goal', 'category_slug', 'label'], dtype='object')

In [25]:
## the basic configure file doesn't include the text features:

metadata = {}
metadata['input_features'] = ['desc_clean', 'desc_len', 'goal', 'category_slug']
metadata['output_label'] = ['label']
metadata['input_text'] = ['desc_clean']
metadata['input_float'] = ['goal']
metadata['input_int'] = []
metadata['input_categorical'] = ['category_slug']
metadata['input_datetime'] = []
metadata['input_bool'] = []
metadata['input_drop'] = []

In [37]:
# the config.json is good to use, no need be changed

with open('config.json', 'w') as f:
    json.dump(metadata, f)

In [38]:
# test config file
with open('config.json', 'r') as f:
    meta = json.load(f)

In [34]:
meta['input_text']

['desc_clean']

In [35]:
df_text = dev_df.loc[:,meta['input_text']]

In [36]:
df_text.shape

(7597, 1)